@font-face {
    font-family: "flaticon";
    src: url("../fonts/flaticon.ttf?5e66820f95b75f55f41219579c78794c") format("truetype"),
url("../fonts/flaticon.woff?5e66820f95b75f55f41219579c78794c") format("woff"),
url("../fonts/flaticon.woff2?5e66820f95b75f55f41219579c78794c") format("woff2"),
url("../fonts/flaticon.eot?5e66820f95b75f55f41219579c78794c#iefix") format("embedded-opentype"),
url("../fonts/flaticon.svg?5e66820f95b75f55f41219579c78794c#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



.flaticon-add-contact:before {
    content: "\f101";
}
.flaticon-back:before {
    content: "\f102";
}
.flaticon-book:before {
    content: "\f103";
}
.flaticon-camera:before {
    content: "\f104";
}
.flaticon-checked:before {
    content: "\f105";
}
.flaticon-color-palette:before {
    content: "\f106";
}
.flaticon-credit-card:before {
    content: "\f107";
}
.flaticon-drum:before {
    content: "\f108";
}
.flaticon-email:before {
    content: "\f109";
}
.flaticon-facebook:before {
    content: "\f10a";
}
.flaticon-instagram:before {
    content: "\f10b";
}
.flaticon-music-note:before {
    content: "\f10c";
}
.flaticon-next-1:before {
    content: "\f10d";
}
.flaticon-next:before {
    content: "\f10e";
}
.flaticon-sketch:before {
    content: "\f10f";
}
.flaticon-snapchat:before {
    content: "\f110";
}
.flaticon-spotlight:before {
    content: "\f111";
}
.flaticon-telephone:before {
    content: "\f112";
}
.flaticon-text:before {
    content: "\f113";
}
.flaticon-twitter:before {
    content: "\f114";
}
.flaticon-upload:before {
    content: "\f115";
}
.flaticon-user-1:before {
    content: "\f116";
}
.flaticon-user:before {
    content: "\f117";
}
.flaticon-video-camera:before {
    content: "\f118";
}
.flaticon-writing:before {
    content: "\f119";
}
